body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 10px; 
}
.h1, p, h2, h3, h4, h5, h6  {
    margin: 0px;
}


.wrapper__background-img {
    background-image: url(assets/fox.png);
    background-color: #02160b;
    width: 1440px;
    height: 780px;
    margin: 0 auto;
}


.logo {
    display: flex;
    align-items: center;
    
    
}
.logo-title {
     
    font-style: normal;
    font-weight: normal;
    font-size: 3.2em;
    line-height: 1.9em;
    color: #F7F7F7;
    padding-left: 15.73px;

}
.nav__ul {
    display: flex;
}
.nav__item {
    list-style-type: none;
    padding-left: 65px;
    
}

.nav__link {
    text-decoration: none;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 2.3em;
line-height: 1.9em;
color: #F7F7F7;
}
.nav_active {
    color: #F7F7F7;
    transition: 1s linear; 
}
.nav_active:hover {
    
    text-decoration: underline;
    color: #CD6326;
    
   }

.nav_active-svg {
    
    transition: 1s linear; 
}
.nav_active-svg:hover {
    cursor: pointer;
    fill: #CD6326;
    
   }
.nav_active-search:hover {
    background-image: url(assets/Search1.svg);
   }
.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3em;
    line-height: 1.2em;
    color: #F7F7F7;
    background: transparent;
    padding: 7px 25px;
}
.button__borders {  
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
}
.button_active-default {
    color: #F7F7F7;
    transition: 1s linear; 
}
.button_active-default:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #CD6326; 
    
   }
.container1 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-top: 20px;
}
.container2 {
    width: 1200px;
}
.survival-title {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 4.8em;
line-height: 1.5em;
color: #CD6326;
letter-spacing: 2px;
padding-left: 120px;
padding-top: 120px;
}
.survival__subtitle {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 1.8em;
line-height: 1.5em;
color: #F7F7F7
}
.survival__subtitle-size-container {
    width: 274px;
    height: 108px;
    padding-left: 120px ;
    padding-top: 51px ;
}
.button2 {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2.3em;
line-height: 1.2em;
color: #F7F7F7;
background: transparent;
padding: 16px 42px;
background-color: #CD6326;
}
.button__borders2 {
border: 2px solid #CD6326;
border-radius: 5px;
padding-left
}

.button_active-full {
color: #F7F7F7;
transition: 1s linear; 
}
.button_active-full:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #E39128; 
   }
.button_active-full:active {
    cursor: pointer;
    text-decoration: underline;
    background-color: #8F5613;; 
   }


.survival__button {
padding-left: 120px;
padding-top: 49px;

}

.latest-articles {
    background-color: #cccccc;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 239px
}

.latest-articles__title {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 4.8em;
line-height: 1.5em;
text-align: center;
color: #333333;
margin: 0;
padding-top: 120px;
}
.latest-articles__subtitle {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 2.4em;
line-height: 1.5em;
text-align: center;
color: #666666;
padding-top: 20px;
}
.container-slider {
    padding-top: 120px;
    padding-left: 122px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.latest-articles-slider__item {
    position: relative;
    width: 300px;
    height: 360px;
}
.slider__img {
    position: absolute;
}
.latest-articles-slider__title-pos1 {
    position: absolute;
    width: 52px;
    height: 36px;
    top: 247px;
    left: 124px;
}
.slider__title-text {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 2.2em;
line-height: 1.5em;
color: #F7F7F7;

}
.latest-articles-slider__subtitle-pos1 {
    position: absolute;
    height: 27px;
    top: 293px;
    left: 57px;
    width: 186px;
}
.slider__subtitle-text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.6em;
    color: #F7F7F7;
    font-style: normal;
}

.latest-articles-slider__title-pos2 {
    position: absolute;
    width: 52px;
    height: 36px;
    top: 247px;
    left: 109px;
}
.latest-articles-slider__subtitle-pos2 {
    position: absolute;
    width: 152px;
    height: 27px;
    top: 293px;
    left: 74px;
}
.latest-articles-slider__title-pos3 {
    position: absolute;
    width: 43px;
    height: 36px;
    top: 247px;
    left: 129px;
}
.latest-articles-slider__subtitle-pos3 {
    position: absolute;
    width: 125px;
    height: 27px;
    top: 293px;
    left: 88px;
}
.latest-articles-slider__control {
    display: inline-flex;
    align-items: center;
}
.slider_button-active {
    opacity: 50%;
}
.slider_button-active:hover {
    cursor: pointer;
   opacity: 100%;
}

.latest-articles__input-title {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 2.7em;
line-height: 1.5em;
color: #333333;
text-align: center;
padding-top: 239px;

}
.latest-articles__input {
    display: flex;
    justify-content: center;

}
.input {
     width: 510px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    margin-top: 60px;
}
.footer {
    background-color: #181617;
    background-image: url(assets/footerImg.png);
    width: 1440px;
    height: 360px;
    margin: 0 auto;
    display: flex;
}

.footer__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
}
.footer-nav__ul {
   display: flex;
   padding-left: 92px;
}
.footer-nav__item {
    list-style-type: none;
    padding-left: 80px;
    
}
.footer-nav__img {
    list-style-type: none;
    padding-left: 27px;
}

.footer-nav_active {
    opacity: 70%;
}
.footer-nav_active:hover {
    cursor: pointer;
    opacity: 100%;
}
.nav__line-height {
    line-height: 2.5em;
}


