body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 10px; 
}
.h1, p, h2, h3, h4, h5, h6  {
    margin: 0px;
}
.wrapper {
    background-color: #333333;
    width: 100%;
}

.wrapper__background-img {
    background-image: url(assets/fox.png);
    background-color: #02160b;
    width: 1440px;
    height: 780px;
    margin: 0 auto;
}
.header__logo-link {
    text-decoration: none;
    display: flex;
}


.logo {
    display: flex;
    align-items: center;
    
    
}
.logo-title {
     
    font-style: normal;
    font-weight: normal;
    font-size: 3.1em;
    line-height: 1.9em;
    color: #F7F7F7;
    padding-left: 16px;
    text-transform: uppercase;
    transition: 0.8s linear;

}
.logo-title:hover {
    text-decoration: underline;
    color: #CD6326;
}
.nav__ul {
    display: flex;
}
.nav__item {
    list-style-type: none;
    padding-left: 62px;
    
}

.nav__link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3em;
    line-height: 2.0em;
    color: #F7F7F7;
}
.nav_active {
    color: #F7F7F7;
    transition: 0.5s linear;  
}
.nav_active:hover {
    
    text-decoration: underline;
    color: #CD6326;
    
   }

.nav_active-svg {
    
    transition: 0.5s linear; 
}
.nav_active-svg:hover {
    cursor: pointer;
    fill: #CD6326;
    
   }
.header__logo-link:hover {
    transform: scale(1.05);
}
.nav_active-search:hover {
    background-image: url(assets/Search1.svg);
    transform: scale(1.2);
   }
.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3em;
    line-height: 1.2em;
    color: #F7F7F7;
    background: transparent;
    padding: 9px 25px;
}
.button__borders {  
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
}
.button_active-default {
    color: #F7F7F7;
    transition: 0.5s linear; 
}
.button_active-default:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffff;
    background-color: #CD6326;
   }
.button_active-default:active {
    cursor: pointer;
    text-decoration: underline;
    color: #ffff;
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container1 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-top: 16px;
}
.container2 {
    width: 1200px;
}
.survival-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8em;
    line-height: 1.3em;
    color: #CD6326;
    letter-spacing: 2px;
    padding-left: 120px;
    padding-top: 120px;
}
.survival__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.5em;
    color: #F7F7F7;
}
.survival__subtitle-size-container {
    width: 274px;
    height: 108px;
    padding-left: 120px;
    padding-top: 55px;
}
.button__survival {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2em;
    line-height: 1.2em;
    color: #F7F7F7;
    background: transparent;
    background-color: #CD6326;
    width: 160px;
    height: 60px;

}
.button__latest-articles  {
    width: 120px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    color: #F7F7F7;
    background: transparent;
    background-color: #CD6326;
}
.button__borders-survival {
    border: 2px solid #CD6326;
    border-radius: 5px;
}

.button_active-full {
    color: #F7F7F7;
    transition: 0.5s linear;  
}
.button_active-full:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #E39128; 
   }
.button_active-full:active {
    cursor: pointer;
    text-decoration: underline;
    background-color: #8F5613;; 
   }
.survival__button {
    padding-left: 121px;
    padding-top: 49px;
}


.latest-articles {
    background-color: #cccccc;
    width: 100%;
}
.wrapper-articles {
    background-color: #cccccc;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 239px
}
.latest-articles__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8em;
    line-height: 1.5em;
    text-align: center;
    color: #333333;
    margin: 0;
    padding-top: 120px;
}
.latest-articles__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 1.5em;
    text-align: center;
    color: #666666;
    padding-top: 20px;
}
.container-slider {
    padding-top: 120px;
    padding-left: 122px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.latest-articles-slider__item {
    position: relative;
    width: 300px;
    height: 360px;
}
.slider__img {
    position: absolute;
}
.latest-articles-slider__title-pos1 {
    position: absolute;
    width: 52px;
    height: 36px;
    top: 247px;
    left: 124px;
}
.slider__title-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2em;
    line-height: 1.5em;
    color: #F7F7F7;

}
.latest-articles-slider__subtitle-pos1 {
    position: absolute;
    height: 27px;
    top: 293px;
    left: 57px;
    width: 186px;
}
.slider__subtitle-text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.6em;
    color: #F7F7F7;
    font-style: normal;
}

.latest-articles-slider__title-pos2 {
    position: absolute;
    width: 52px;
    height: 36px;
    top: 247px;
    left: 109px;
}
.latest-articles-slider__subtitle-pos2 {
    position: absolute;
    width: 152px;
    height: 27px;
    top: 293px;
    left: 74px;
}
.latest-articles-slider__title-pos3 {
    position: absolute;
    width: 43px;
    height: 36px;
    top: 247px;
    left: 129px;
}
.latest-articles-slider__subtitle-pos3 {
    position: absolute;
    width: 125px;
    height: 27px;
    top: 293px;
    left: 88px;
}
.latest-articles-slider__control {
    display: inline-flex;
    align-items: center;
    background-color: #cccccc;
    border: none;
    cursor: pointer;
    padding: 0;
}
.latest-articles-slider__control:hover {
    transform: scale(1.1);
}
.slider_button-active {

}
.slider_button-active:hover {

    opacity: 100%;
    
    
}

.latest-articles__input-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7em;
    line-height: 1.5em;
    color: #333333;
    text-align: center;
    padding-top: 239px;

}
.latest-articles__input {
    display: flex;
    justify-content: center;

}
.input {
    width: 535px;
    height: 56px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2em;
    margin-top: 60px;
    text-indent: 15px;
    padding: 0;
}
.footer {
    background-color: #181617;
    width: 100%;
  
}
.footer__logo-link {
    display: flex;
    text-decoration: none;
}
.footer__logo-link:hover {
 transform: scale(1.05);
}

.wrapper-footer {
    background-color: #181617;
    background-image: url(assets/footerImg.png);
    width: 1440px;
    height: 360px;
    margin: 0 auto;
    display: flex;

}

.footer__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav__item {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 535px;
    height: 360px;
    align-items: center;
    justify-content: space-around;
}
.footer-nav__ul {
    display: flex;
    padding: 0px;
   
}
.footer-nav__item {
    list-style-type: none;
}
.nav__line-left {
    padding-left: 37px;
}
.footer-nav__img {
    list-style-type: none;
    padding-left: 27px;
}
.footer-nav__imgFirst {
    background-image: url("assets/facebook.svg");
}
.footer-nav__imgSecond {
    background-image: url("assets/instagram.svg");
}
.footer-nav__imgThird {
    background-image: url("assets/pinter.svg");
}
.footer-nav__imgFourth {
    background-image: url("assets/telegram.svg");
}

.footer-nav_active {
    opacity: 70%;
    width: 40px;
    height: 40px;
    display: block;
}
.footer-nav_active:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.2);
}
.nav__line-height {
    line-height: 2.5em;
}
.nav_active-svg:hover {
    transform: scale(1.5);
}


